* {
    box-sizing: border-box;
    font-family: 'Helvetica', neue;
}

body {
    background-color: #000000;
}

header {
    color: #cd0511;
    text-align: center;
    padding: 20px;
    font-family: 'Helvetica', neue;
}

.section {
    padding: 20px;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    margin: 0;
    height: auto;
}

ol {
            padding-left: 20px;
        }

li {
            margin-bottom: 8px;
        }

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    color: #cd0511;
    padding: 5px 10px;
    margin: 0;
    border: 2px solid #000000; 
    font-size: 125%;
}

h2 {
    margin-top: 20px;
    font-size: 150%;
}

p {
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 16px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .section {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}

div {
    display: block;
}





















































































